@charset "utf-8";

table{
    border: 1px solid black;
    width: 450px;
    height: 300px;
    border-collapse: collapse;
}
th{border: 1px solid black;}
td{border: 1px solid black;
text-align: center;}

.bg1{
    background-color: bisque;
}

#bg2{
    background-color: rgb(236, 97, 97);
}

.bg3{
    background-color: aquamarine;
}

#bg4{
    background-color: chartreuse;
}