@charset ("utf-8");

/* reset */
*{margin: 0; padding: 0;}

/* wrap */
#wrap{width: 960px; height:1200px; background-color: aquamarine; margin: auto;}

/* header */
header{width: 100%; height:150px; background-color: antiquewhite;}
header h1{margin:10px 0 ;width: 120px;padding: 20px; float: left; background-color: cornflowerblue; color: antiquewhite; text-align: center;}
header nav{float: right; margin-top: 115px; }
header nav ul li{list-style: none; float:left;}
header nav ul li a{text-decoration: none; color: black
    ;background-color: rgb(178, 178, 236); padding:15px 30px}
header nav ul li a:hover{background-color: aquamarine; color: blue;}

/* section */
#sec1{ width: 100%; height: 400px; background-color: rgb(223, 222, 143);}
#sec1 h2{text-align: center; line-height: 400px;}

/* c area */
#sec2{width: 100%; height: 500px; background-color: rgb(71, 94, 94);}
.con{float: left; text-align: center;}
.con1{width: 50%; height: 300px; background-color: darkgrey; }
.con2{width: 320px; height: 200px ; background-color: rgb(22, 245, 170); }
